<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <!--Required meta tags-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--icon-->
    <!--<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}"/>-->

    {% block base_css %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <script src="{% static 'js/base.js' %}"></script>
        <script src="{% static 'vendors/fa/fa.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% endblock base_css %}

    <!--Extra css-->
    {% block css %}{% endblock css %}

    <!--Title-->
    <title>
        {% block title %}
            Identity Server: All of your heavy machinery needs in one place.
        {% endblock title %}
    </title>
</head>
<body>
    <!--navigation menu-->
    {% block nav %}
        {% include 'components/top_nav.html' %}
    {% endblock nav %}

    <!--main content-->
    <div class="container" style="min-height: 90vh">
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <!--messages-->
                {% block messages %}
                  {% include 'components/session_message.html' %}
                {% endblock messages %}
            </div>
            <!--page content-->
            {% block content %}{% endblock content %}
        </div>
    </div>

    <!--footer-->
    {% block footer %}
        {% include 'components/footer.html' %}
    {% endblock footer %}

    <!--Scripts-->
    {% block base_js %}
        <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
    {% endblock base_js %}

    <!--Extra js-->
    {% block js %}{% endblock js %}
</body>
</html>
