{% extends 'base.html' %}
{% load static %}

{% block css %}
<style type="text/css" lang="css">
    .side_nav .nav-item {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
    }
    .side_nav .nav-item a {
        color: #252F35
    }
    .side_nav .active {
        background-color: #d8e4eb;
    }

    .card {
        border-radius: 15px
    }

    input, select, textarea,
    input:hover, select:hover, textarea:hover {
        border-color: darkgrey!important;
        box-shadow: none!important;
        background: transparent!important;
        border-radius: 15px!important;
        color: darkgrey!important
    }
</style>
{% endblock css %}

{% block content %}
<div class="col-lg-3 col-md-4 mb-5">
    <h2>Settings</h2>
    <ul class="nav d-block pt-2 side_nav">
        <li class="nav-item {% if request.path == '/' %}active{% endif %} mb-2">
            <a href="{% url 'users:home' %}" class="">Account</a>
        </li>
        <li class="nav-item {% if request.path == '/change-password/' %}active{% endif %}">
            <a href="{% url 'users:change-password' %}" class="">Change password</a>
        </li>
    </ul>
</div>

<div class="col-lg-9 col-md-8">
    <div class="card shadow">
        <div class="card-body">
             <form method="post" action="{% url 'users:change-password' %}">
                <!--Form error-->
                {% if form.errors %}
                    <div class="text-danger">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <h5 class="pb-1">{{ error|escape }}</h5>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <h5 class="pb-1">{{ error|escape }}</h5>
                        {% endfor %}
                    </div>
                {% endif %}

                {% csrf_token %}
                <div class="form-group pt-3 {% if resetting_password %}d-none{% endif %}">
                    {{ form.current_password }}
                    {% if not resetting_password %}
                        <div class="text-right mr-3 text-primary" style="width: 30px!important; float: right; margin-top: -30px;">
                            <i class="fa fa-eye" id="showHidePassword" style="cursor: pointer"></i>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group pt-3">
                    {{ form.new_password }}
                    {% if resetting_password %}
                        <div class="text-right mr-3 text-primary" style="width: 30px!important; float: right; margin-top: -30px;">
                            <i class="fa fa-eye" id="showHidePassword" style="cursor: pointer"></i>
                        </div>
                    {% endif %}
                </div>
                 <div class="form-group pt-3">
                    {{ form.confirm_password }}
                </div>
                <div class="form-group pt-2 text-right">
                    <button
                        type="submit"
                        class="btn btn-sm btn-secondary pl-3 pr-3 auth-form-submit-button"
                        style="border-radius: 15px"
                    >
                        <i class="fa fa-send-o mr-1 d-none d-md-inline"></i>Change password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


{% block js %}
<script type="text/javascript">
    var passwordShowing = false;
    let passwordShowHideToggler = document.getElementById('showHidePassword');
    passwordShowHideToggler.addEventListener('click', function (e) {
        e.preventDefault();
        passwordShowing = !passwordShowing;
        if ( passwordShowing ) {
            $('#current_password').attr('type', 'text');
            $('#new_password').attr('type', 'text');
            $('#confirm_password').attr('type', 'text');
        } else {
            $('#current_password').attr('type', 'password');
            $('#new_password').attr('type', 'password');
            $('#confirm_password').attr('type', 'password');
        }
    })
</script>
{% endblock js %}