{% extends 'users/auth_base.html' %}
{% load static %}

{% block title %}
    Identity Server | Password recovery
{% endblock title %}


{% block css %}
<style type="text/css" lang="css">
    .main-container, .img-container {
        border: none;
        overflow: hidden!important;
    }

    .form-header h5 { font-size: 22px }
    .form-header p { font-size: 14px }

    @media only screen and
    (min-width: 100px) and
    (max-width: 399px) {
        .form-header h5 { font-size: 16px }
        .form-header p { font-size: 12px }
    }
    @media only screen and
    (min-width: 400px) and
    (max-width: 567px) {
        .form-header h5 { font-size: 18px }
        .form-header p { font-size: 12px }
    }
</style>
{% endblock css %}


{% block back_to_link %}
    <a href="{% url 'users:sign-in' %}?next={{ next }}" style="font-size: 14px" class="text-uppercase text-white">
        <i class="fa fa-arrow-left mr-2"></i>
        back to login
    </a>
{% endblock back_to_link %}

{% block bg_img %}
    <img src="{% static 'img/auth-bg.jpeg' %}">
{% endblock bg_img %}


{% block content %}
<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-10 offset-1">
    <div class="content-area mt-5 mb-5 pb-5">
        <form method="post" action="{% url 'users:password-recovery' %}">
            <div class="p-3 form-header">
                <h5 class="text-white pb-1 text-uppercase">password recovery</h5>
                <hr style="" class="border border-primary">
                <p class="text-light">
                    {{ message }}
                </p>
            </div>
            {% csrf_token %}
            <!--hidden next-->
            <input type="hidden" hidden name="next" value="{{ next }}">
            <!--Email field container-->
            <div class="form-group">
                <input
                    id="email"
                    name="email"
                    placeholder="Email"
                    onblur="this.placeholder='Email'"
                    onfocus="this.placeholder=''"
                    class="form-control"
                    autocomplete='false'
                />
            </div>
            <!--Submit button container-->
            <div class="form-group mt-5">
                <button
                    type="submit"
                    class="btn btn-theme auth-form-submit-button"
                >
                    recover password
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}


{% block footer %}{% endblock footer %}